/* Colors - #324851 -  x
 #86AC41 - o
 #34675c - base1
 #7da3a1 - base2*/

 /*#2d3142 -1
 #4f5d75 -2
 bfc0c0 -3
 ffffff-4
 ef8354 -5*/


body{
	text-align: center;
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

#board{
	margin: auto;
    width: 50%;

}
.cellStyle {
	background: #bfc0c0;
	border: 4px solid #4f5d75;
	height: 100px;
	width: 100px;
	margin: 5px;
	display: inline-block;
	border-radius: 5px;
}

#row {
	display: block;
}

.jumbotron{
	background-color: #4f5d75;
	color: #ffffff;
	border: 4px solid #bfc0c0 ;
}

#restart{
	background: #4f5d75;
	color:#ffffff;
	border: 2px solid #bfc0c0;
	margin: 20px auto;
}

p{
	font-weight: 300;
	color: #bfc0c0;
}

/*Changed Cells*/
.ocell{
	background: #ef8354;
	color:#2d3142;

}
.xcell{
	background: #2d3142;
	color:#ef8354;
}

